/*
COLOUR PALLATTE
https://coolors.co/f8ffe5-06d6a0-1b9aaa-FFA07A-2d3142
#F8FFE5 - Light Yellow - Almost White
#06D6A0 - Caribbean Green
#1B9AAA - Blue Munsell
#FFA07A - Lightsalmon
#2D3142 - Space Cadet - Almost black
*/

/* Global style
--------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #2D3142;
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 30px;
}
a {
  color: #06D6A0;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin: 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: 0;
}

/* Profile
--------------------------------------*/
header {
  background: #1B9AAA;
  color: #F8FFE5;
}


/* Skills
--------------------------------------*/
.skills {
  background: #06D6A0;
}
.skill-list {
  list-style-type: none;
  padding: 0;
}
.skill-list li {
  color: #FFA07A;
  background: #2D3142;
  display: inline-block;
  padding: 8px 16px;
  margin: 10px 5px;
  border-radius: 4px;
}


/* Work Experience
--------------------------------------*/
.work-experience {
  background: #F8FFE5;
}
.work-experience a{
  color: #1B9AAA;
}

/* Volunteer Experience
--------------------------------------*/
.volunteer-experience {
  position: relative;
}
.volunteer-experience::after {
  content: "";
  background-image: url(../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.volunteer-experience p {
  width: 80%;
}

/* Education
--------------------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* Contact Info
--------------------------------------*/
footer {
  background: #2D3142;
  color: #F8FFE5;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive
--------------------------------------*/
@media screen and (min-width:750px) {
  header, footer {
    text-align: center;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:749px) {
  h1 {
    font-size: 75px;
    margin-bottom: 20px;
  }
  h1,h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
