/*
COLOUR PALLATTE
https://coolors.co/f8ffe5-06d6a0-1b9aaa-ff8552-2d3142
#F8FFE5 - Light Yellow - Almost White
#06D6A0 - Caribbean Green
#1B9AAA - Blue Munsell
#FF8552 - Coral
#2D3142 - Space Cadet - Almost black
*/

/* Global style
--------------------------------------*/
body {
  color: #2D3142;
  margin: 0;
  padding: 0;
}
img {
  width: 30px;
}
a {
  color: #06D6A0;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
--------------------------------------*/
header {
  background: #1B9AAA;
  color: #F8FFE5;
}


/* Skills
--------------------------------------*/
.skills {
  background: #06D6A0;
}
.skills li {
  color: #FF8552;
  background: #2D3142;
  list-style-type: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 10px 0;
  border-radius: 4px;
}

/* Work Experience
--------------------------------------*/
.work-experience {
  background: #F8FFE5;
}


/* Education
--------------------------------------*/



/* Contact Info
--------------------------------------*/
footer {
  background: #2D3142;
  color: #F8FFE5;
}
